$mainColor: #4f008c;
$S_color: #ff375e;
$txtColor: #1d252d;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  font-family: 'STCForward', sans-serif, arial;
}

body {
  background-color: #fff;
  color: $txtColor;
}
body.ar {
  direction: rtl;
  .form-group small {
    left: auto;
    right: 0;
  }
  .form-field.custom-radio .radio-group:first-of-type {
    padding-right: 0;
    padding-left: 20px;
  }
  .form-field.custom-radio label {
    padding-left: 0;
    padding-right: 34px;
    &::before {
      left: auto;
      right: 0;
    }
    &::after {
      left: auto;
      right: 6px;
    }
  }
  .form-group.custom-checkbox label {
    padding-left: 0;
    padding-right: 34px;
    &::before {
      left: auto;
      right: 0;
    }
  }
  .form-group.custom-checkbox input:checked + label:after {
    left: auto;
    right: 13px;
  }
}

p {
  line-height: 30px;
}
ul {
  list-style-type: none;
}

input[type='email'],
input[type='tel'] {
  direction: ltr !important;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $txtColor;
}
// main-container
.main-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.flex-dir-col {
    flex-direction: column;
  }
  &.flex-center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.direction-column {
    flex-direction: column;
  }
}
.btn {
  padding: 12px 32px;
  font-size: 17px;
  border-radius: 3px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.sm {
    font-size: 14px;
    padding: 10px 15px;
  }
  &.main-btn {
    background-color: $S_color;
    color: #fff;
  }
  &.outline-btn {
    color: $S_color;
    background-color: transparent;
    border: 2px solid $S_color;
  }
  &.f-width {
    width: 100% !important;
  }
  &:disabled {
    background-color: #a8abae;
    cursor: not-allowed;
  }
}
.btn-primary {
  background-color: #3c40c6 !important;
}
.btn-danger {
  background-color: #dc3545 !important;
}

@media screen and(max-width: 500px) {
  .main-form {
    padding: 50px 20px;
  }
}
