.hero-banner {
  background-color: #f3f3f1;
  color: $mainColor;
  padding: 20px 0;
  position: relative;
  img {
    padding: 30px;
  }
  .content {
    padding: 40px 0;
    display: flex;
    align-items: center;
    h1 {
      font-size: 42px;
      font-weight: 600;
      line-height: 50px;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 780px) {
  .hero-banner .main-container {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    .content {
      padding: 0;
    }
    img {
      padding: 0;
    }
    h1 {
      font-size: 30px;
      text-align: center;
    }
  }
}
